<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">My Modal Title</h5>
        <button type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Name: {{ passenger.name }}</div>
        <div>Age: {{ passenger._id }}</div>
        <div>Gender: {{ passenger.trips }}</div>
        <!-- <div>Address: {{ passenger.address }}</div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        
      </div>
    </div>
  </div>
</div>