

.table {
    border-collapse: collapse;
    border: 2px solid rgb(196, 245, 196);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .table th,
  .table td {
    border: 2px solid rgb(196, 245, 196);
    padding: 8px;
    text-align: left;
    width: 20%;
    max-width: 150px;
    overflow: hidden;
  }

  .table td.logo,
.table td.website {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  @media only screen and (max-width: 600px) {
    .table {
      font-size: 14px;
    }
  }
  